@charset "UTF-8";

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 962px) {
    body {
        background-image: linear-gradient(to top, #8DEFFC, #FF2EBE);
    }

    section#login {
        width: 50vw;
    }   

    form > input[type=submit] {
        width: 35%;
    }

    form > div.campo {
        position: relative;
        transform: translate(25%, 10%);
    }
}

/* Desktop */
@media screen and (min-width: 962px) {
    body {
        background-image: linear-gradient(to top, #8DEFFC, #FF2EBE);
    }

    section#login {
        width: 65vw;
    }

    section#login > div#imagem {
        float: right;
        width: 60%;
        height: 100%;        
    }

    section#login > div#formulario {
        float: left;
        width: 40% ;
    }

    form > div.campo {
        position: relative;
        transform: translate(5%, 10%);
    }
}

@media screen and (min-width: 1200px) {
    form > div.campo {
        position: relative;
        transform: translate(17%, 10%);
    }
}